

/*********************************
GLOBAL
*********************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Raleway:wght@100;500&display=swap');

/*
font-family: 'Open Sans', serif;
font-family: 'Raleway', sans-serif;
*/

* {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
  }
  
  html,
  body {
      margin: 0;
      padding: 0;
      font-family: 'Open Sans', serif;
      background: #FBFBFB;
      color: #474747;
      margin-left:18%;
      margin-right:18%;
  }

/*********************************
NAVIGATION BAR
*********************************/
        
nav {
  top: 0px;
  float: top;
  max-width: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FBFBFB;
  display:flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav .left-nav {
  list-style: none;
  float: left;
  display: block;
  height: 100%;
}

#avatar {
  display:inline-block;
  height: 60px;
  width: 60px;
  vertical-align: -15px;
}


#name {
  display: inline-block;
  padding-left: 5px;
  letter-spacing: 2px;
  font-size: 25px;
  color: #4C4C4C;
  font-family: 'Raleway', sans-serif;
  
}


nav .right-nav {
  display:inline-block;
  list-style: none;
  font-size: 18px;
  padding-top: 10px;
  padding-left:0;
}

nav .right-nav li {
  display: inline-block;
}

nav .right-nav a,
nav .right-nav a:visited {
  color: #4C4C4C;
  padding: 0px 10px;
  text-align: right;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight:500;
}

nav .right-nav a:hover {
  color: black;
}

/******
PAGE 
*****/
.page {
  margin-top: 50px;
}

.page-title {
  font-family: 'Raleway', sans-serif;
  font-size:32x;
  font-weight:500;
  color:black;
}

/***
POST PREVIEW
***/

.post-preview {
  margin-top:40px;

}

.post-preview .tap-target{
  margin-bottom:0;
}

.post-preview .tap-target a, 
.post-preview .tap-target a:visited {
  color: #474747;
  text-decoration: none;
}

.post-preview .title {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight:500;
  font-size:24px;
  margin-top:5px;
}

.post-preview .title:hover {
  color: #6F92ED;
}


.post-preview .category,
.post-preview .category:visited {
  font-size:0.75em;
  font-family: 'Raleway', sans-serif;
  color:#6F92ED;
  text-decoration: none;
}


.post-preview  .category:hover {
  text-decoration: underline;
}

.post-preview .metadata{
  font-size:0.75em;
  font-family: 'Raleway', sans-serif;
}

.post-preview .excerpt {
  margin-top:-5px;
  font-size:16px;
}


/***
SUBSCRIBE FOOTER
***/ 

.subscribe-footer{
  margin:50px 0;
  
}

.subscribe-button {
  text-align: center;
  width:150px;
  padding: 8px;
  border: 2px solid;
  border-color: #6F92ED;
  background-color: white;
}
.subscribe-button a, active {
  text-decoration: none;
  color: #6F92ED;
  font-family: 'Raleway', sans-serif;
}
.subscribe-button a:hover {
  text-decoration: none;
  color: white;
}
.subscribe-button:hover {
  background-color:#6F92ED;
}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
}
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    html,
    body {
        margin-left:20px;
        margin-right:20px;
    }

    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    html,
    body {
        margin-left:20px;
        margin-right:20px;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    html,
    body {
        margin-left:20px;
        margin-right:20px;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    html,
    body {
        margin-left:20px;
        margin-right:20px;
    }
    
  }