/*********************************
GLOBAL
*********************************/

/* orange: #ff3d2b;*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background: white;
}


/*********************************
NAVIGATION BAR
*********************************/
nav {
   position: absolute;
   top: 0px;
   float:top;
   max-width: 100%;
   width:100%;
   height:75px;
   background: white;

   border-width:0 0 1px 0 ;
   border-color:gray;
   border-style:solid;

}

nav .left-nav {
	list-style: none;
	float:left;
	display:block;
	height:100%;

}


#profile-logo {
	float:left;
	height:75px;
	width:75px;
	background: url("../images/POLogo.jpg") center;
	background-size: 100%;
	transition: all 200ms linear;
    transition-delay: 400ms;
}

#profile-logo:hover {
	background: url("../images/phillipouID.jpg") center;
	background-size: 100%;
}

#name {
	float:right;
	padding-left:20px;
	padding-top:5px;
	font-family: 'Lato';
	font-weight: 700;
	letter-spacing: 5px;
	font-size:20px;
}
nav .right-nav {
  float:right;
  list-style: none;
  margin: 25px 10px;
  padding-bottom:20px;
  padding-right:10px;

}

nav .right-nav li {
  display: inline-block; /* allows list items to be in blocks in a row */

}

nav .right-nav a, nav .right-nav a:visited {
	color:black;
	padding: 15px 10px;

	text-align: right;
	text-decoration: none;
	font-family: 'Lato';
	font-weight:500;

  
}

nav .right-nav a:hover {
	font-weight:500;
	color:#ff3d2b;


}

/*********************************
HEADER
*********************************/

.main-header {
	background: linear-gradient( rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.15)),
				url('../images/boston_skyline.jpg') no-repeat;
	-moz-background-size:100% 100% ;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
    max-width: 100%;
    width:100%;
    
    height:675px;
  	max-height: 675px;
  	margin: 0 auto;
  	display:block;
    
}

.header-content {
	width: 85%;
	max-width:85%;
	margin: 75px auto;
	padding-top:260px;
    
}

.header-content h1,h2 {
	margin:auto;
    line-height:51px;
    text-align:center;
    color:white;


}

.header-content h1 {
	font-family: 'Lato';
	font-weight:700;
	font-size:85px;
	letter-spacing: 5px;
	margin-bottom: 25px;
}

.header-content h2 {
	font-family: 'Lato';
	font-weight:300;
	font-size:35px;
	letter-spacing: 2px;
	margin-bottom:10px;
}

.header-content button{
	height:60px; 
    width:155px; 
    background-color: transparent;
    color:#ff3d2b;
    font-family:'Lato';
    font-weight:400;
    font-size:20px;
    border-width:2px;
    border-color:#ff3d2b;
    border-style:solid;
    margin: 35px -75px; 
    position:relative;
    top:50%; 
    left:50%;
    border-color:red;
    display:inline-block;
    outline:none;
}

.header-content button a, .header-content button a:visited{
	text-decoration: none;
	color:blue;
	background: transparent;
}

.header-content button:hover {
  display: inline-block;
  font-weight: 400;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  background: #ff3d2b;
  color:white;

  
}
#learn-more-button a:hover{
	background: transparent;
}





/*********************************
ABOUT ME
*********************************/

#about {
	margin-bottom:100px;

}
#paragraph {
	width:48%;
	max-width:48%;
	padding-right:30px;
	padding-left:30px;
	margin-top:-10px;
	display:inline-block;
	text-align: justify;
	height:300px;
	background: transparent;
	font-weight: 400;
	line-height: 40px;


}




#collage {
	width:48%;
	margin-top: 20px;
	margin-right:30px;
	height:450px;
	float:right;

	background: url('../images/collage.png') no-repeat;
	-moz-background-size:100%;
	-webkit-background-size:100%;
	background-size:100%;
	

	
}

#quote {
	font-weight:400;
}

#quoter {
	font-weight:300;
	margin-bottom:50px;
}

/*********************************
SKILLS AND EDUATION 
*********************************/

.section-header {
	width:100%;
	max-width:100%;
	background: white;

	border-width:1px 0 0 0 ;
    border-color:rgba(245,245,245,1);
    border-style:solid;
    display:inline-block;

}

.section-header h1 {
	padding-top: 60px;
	padding-bottom:30px;
	max-width:100%;
	font-family: 'Lato';
	font-weight:700;
	position:relative;
	color:black;
	text-align:center;

}
.section-header span {
	font-weight:bold;
	color:#ff3d2b;
}

.skills-and-education .left {
	display: inline-block;
	vertical-align:top;
	padding-left:8%;
	width: 48%;
	height:200px;
	max-height:300px;


	
}

.skills-and-education .right {
	display: inline-block;
	vertical-align:top;
	padding-left:4%;
	width:48%;
	height:200px;
	max-height:300px;

}

.skills-and-education .right h3 {
	color:black;
	margin:left;
}

.section-title {
	font-weight:bold;
	font-size:20px;
	
}
#major {
	font-weight:500;
	font-size:15px;
	color:gray;
}

/*********************************
PORTFOLIO
*********************************/

.portfolio {

	background: white; /*rgba(240,240,240,1)*/
	border-width:1px 0 0 0 ;
    border-color:rgba(245,245,245,1);
    border-style:solid;
    margin-bottom:20px;
    display:inline-block;


}



.project {
	height:200px;
	margin-left:100px;
	margin-right:0px;
    display: inline-block;
    margin-bottom:50px;
    width:80%;


}

.project-logo {
	width:200px;
	height:200px;
    margin: 0px auto;
    float:right;
    border-width:2px;
    border-color:rgba(245,245,245,1);
    border-style:solid;

}

.project h2 {
	color:black;
	text-align: left;
	margin-top:0px;
	padding-left:50px;
	font-weight:400;
	font-size:30px;


	
}

.project h3 {
	color:black;
	padding-left:50px;
	font-weight:300;
	font-size:20px;
	text-decoration: none;
	
}

.project h3 a {
	text-decoration: none;
}

.project h3 .external-link {
	color:blue;
}

/*********************************
EXPERIENCE
*********************************/

.experience {
	width:100%;

}

.job {
	margin-left:100px;
	margin-right:100px;
    display: inline-block;
    margin-bottom:80px;
    width:80%;	
	
}

.job .job-logo {
	width:200px;
	height:200px;
    margin: 0px auto;
    float:left;
    border-width:2px;
    border-color:rgba(245,245,245,1);
    border-style:solid;
}

.job .company {
	color:black;
	text-align: left;
	margin-top:0px;
	padding-left:250px;
	font-weight:400;
	font-size:30px;


}

.job-title span {
	font-size:20px;
	font-weight:300;
	color:#ff3d2b;

}

.job-title {
	color:black;
	padding-left:250px;
	font-weight:400;
	font-size:20px;

	

}

/*.job:nth-of-type(odd) {
    float:left;
}

.job:nth-of-type(even) {
    float:right;
}*/

.job-description {
	color:black;
	padding-left:250px;
	font-weight:300;
	font-size:20px;

	
}

/*********************************
FOOTER
*********************************/

#footer-container {
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background: rgba(245,245,245,1)

}


#copyright {
	display: inline-block;
	text-align: left;
	width:30%;
	
}


#social-buttons {
	display: inline-block;
	width:30%;
	text-align: center;

	
}

#social-buttons img{
	display: inline-block;
	margin-top:30px;
	margin-left: 10px;
	margin-right: 10px;
	width:50px;
	height:50px;
}

#contact-info {
	display: inline-block;
	width:30%;
	text-align: right;
	margin-bottom: 10px;

}

#contact-info p{
	
	text-align: right;
	margin-left:20px;
	margin-top:5px;
	
	
}

#contact-info a:link, #contact-info a:visited{
	text-decoration: none;
	color:#ff3d2b;
	
}

#contact-info a:hover {
	text-decoration: underline;
}

@media screen and (max-width:640px){

	html,body {
		
		max-width:100%;
		padding: 10px;
		overflow-x: hidden;
		
	
	}

	* {
		max-width: 100%

	}

	nav .right-nav li {
  		display: none; /* allows list items to be in blocks in a row */

	}

	.main-header {
    
    	height:375px;
  		max-height: 375px;
    
	}

	.header-content {

		padding-top:25px;
	    
	}

	.header-content h1,h2 {
		margin:auto;
	    line-height:51px;
	    text-align:center;
	    color:white;


	}

	.header-content h1 {
		font-family: 'Lato';
		font-weight:700;
		font-size:55px;
		letter-spacing: 5px;
		margin-bottom: 25px;
	}

	.header-content h2 {
		font-family: 'Lato';
		font-weight:300;
		font-size:25px;
		letter-spacing: 2px;
		margin-bottom:10px;
	}

	.header-content button{
		height:60px; 
	    width:155px; 
	    background-color: transparent;
	    color:#ff3d2b;
	    font-family:'Lato';
	    font-weight:400;
	    font-size:20px;
	    border-width:2px;
	    border-color:#ff3d2b;
	    border-style:solid;
	    margin: 35px -75px; 
	    position:relative;
	    top:50%; 
	    left:50%;

	}



	.header-content button a, .header-content button a:visited{
		text-decoration: none;
		color:inherit;
		background: transparent;
	}

	.header-content button:hover {
	  display: inline-block;
	  font-weight: 400;
	  -webkit-transition-duration: 0.1s;
	  transition-duration: 0.2s;
	  background: #ff3d2b;
	  color:white;

	  
	}

	#learn-more-button a:hover{
		background: transparent;
	}



	/**********************
	ABOUT ME
	***********************/
	#paragraph {
		width:98%;
		max-width:98%;
		text-align: justify;
		padding:0;

	}

	#collage {
		width:100%;
		height:300px;
		display: block;
		
		margin-right:0;
		padding:0;
	}

	/**********************
	SKILLS AND EDUCATION
	***********************/

	.skills-and-education .left {
		width: 98%;
		height:200px;
		max-height:300px;
		margin-bottom: 10px;
		padding:0;
		text-align: center;

	}

	.skills-and-education .right {
		display: inline-block;
		width:98%;
		height:200px;
		max-height:300px;
		padding:0;
		margin-bottom:50px;
		text-align: center;
		
	}

	.section-title {
		font-weight:bold;
		font-size:20px;
		text-align: center;
		padding:0;
	}

	/**********************
	PORTFOLIO
	***********************/

	.portfolio {
	    margin-bottom:20px;
	    text-align: justify;
	    width:100%;
	    padding:0;

	}



	.project {
	    height:150px;
	    margin-top:25px;
	    margin-left:5px;
	    width:100%;
	    padding:0;
	    


	}

	.project-logo {
		margin: auto 25%;
		width:125px;
		height:125px;
		margin: 0;
		padding:0;
		float:right;
	    
	}

	.project h2 {
		text-align: left;
		margin-top:0px;
		padding-left:0px;
		padding:0;
		
	}
	.project h3 {
		text-align: left;
		margin-top:0px;
		padding-left:0px;
		font-size: 12px;
		font-weight: 400;
		padding:0;
		
	}

	/**********************
	EXPERIENCE
	***********************/
	.experience {
		width:100%;
		margin-bottom:0px;
		margin-top: 0;
		padding:0;
	}

	.job {
		margin-left: 0;
		padding-left:0;
		
	    margin-top:0px;
	    width:98%;
	    padding:0;
	    

		
	}

	.job .job-logo {
	    margin: 0 0;
	    padding:0;
	    width:125px;
	    height:125px;
	    
	    
	}

	.job .company {
		color:black;
		margin-left:130px;
		margin-top:0px;
		padding-left:0;
		font-weight:400;
		font-size:25px;
		margin-bottom:0;
		


	}

	.job .job-title span {
		font-size:15px;
		font-weight:300;
		color:#ff3d2b;
		padding:0;

	}

	.job .job-title {
		color:black;
		padding-left:0px;
		font-weight:400;
		font-size:15px;
		text-align: left;
		margin-top: 0;
		margin-left:130px;


	}

	.job .job-description {
		color:black;
		text-align:left;
		padding-left:0px;
		font-weight:400;
		font-size:12px;
		margin-left: 130px;
		margin-top:0px;
	
	}

	/*********************************
	FOOTER
	*********************************/

	#footer-container {
		width:100%;

		text-align: left

	}


	#copyright {
		
		text-align: left;
		width:100%;
		
	}

	#copyright p {
		display: inline-block;
		padding:0 25px;
	}


	#social-buttons {
		display:none;

		
	}

	#social-buttons img{
		display: inline-block;
		margin-top:30px;
		margin-left: 10px;
		margin-right: 10px;
		width:50px;
		height:50px;
	}

	#contact-info {
		
		display:none;

	}







